:root {
    --font-family: "Fjalla One", sans-serif;
    --main-color: white;
    --background-color: violet;
    --player-computer-color: rgb(201, 79, 201);
    --game-color: purple;
}

* {
    margin: 0;
    border: 0;
    padding: 0px;
    box-sizing: border-box;
}

html, 
body {
    height: 100vh;
    overflow: auto;
    font-family: var(--font-family);
    color: var(--main-color);
}

.grid-container {
    display: grid;
    grid-template-areas:
      'left header right'
      'left body right'
      'left bottom-body right'
      'left footer right';
      grid-template-columns: .6fr 3fr .6fr;
    gap: 10px;
    background-color: var(--background-color);
    text-align: center;
    min-height: 100vh;
    min-width: 15vw;
}

.title,
.subtitle {
    grid-area: header;
}

.title {
    margin-top: 3%;
    font-size: 5vw;
}

.subtitle {
    margin-top: 13%;
    font-size: 2vw;
}

.player,
.computer {
    background-color: var(--player-computer-color);
    font-size: 3.5vw;
}

.player {
    grid-area: left;
}

.computer {
    grid-area: right;
}

.player-name,
.computer-name,
.player-wins,
.computer-wins {
    font-size: 2.5vw;
}

.classic-game,
.challenge-game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    background-color: var(--game-color);
    color: var(--main-color);
    font-family: var(--font-family);
    font-size: 1.25vw;
    width: 33%;
    height: 60%;
    grid-area: bottom-body;
    margin: 20px;
}

.classic-game ul,
.challenge-game ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

.game-selection {
    display: flex;
    justify-content: center;
}

.rock,
.paper,
.scissors,
.lizard,
.alien {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    font-size: 8rem;
    height: 7vw;
    width: 7vw;
    margin: 2rem;
}

.change-game {
    grid-area: left;
    background-color: var(--game-color);
    font-family: var(--font-family);
    color: var(--main-color);
    align-items: center;
    padding: 15px;
    font-size: 2vw;
}

.buttons-all {
    grid-area: body;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rock:hover,
.paper:hover,
.scissors:hover,
.lizard:hover,
.alien:hover,
.classic-game:hover,
.challenge-game:hover,
.change-game:hover {
    cursor: pointer;
}