:root {
    --font-family: "Fjalla One", sans-serif;
    --main-color: white;
    --background-color: violet;
}

html,
body {
    height: 100vh;
    margin: 0;
    overflow: auto;
}


.grid-container {
    display: grid;
    grid-template-areas:
      'left header header header right'
      'left main-top-left main-top main-top-right right'
      'left main-body-left main-body main-body-right right'
      'left main-footer-left main-footer main-footer-right right'
      'left main main main right';
    gap: 10px;
    background-color: var(--background-color);
    border: 5px;
    text-align: center;
    min-height: 100vh;
}

.title,
.subtitle {
    grid-area: header;
    color: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

.title {
    margin-top: 5vh;
    font-size: 5vw;
}

.subtitle {
    margin-top: 17vh;
    font-size: 2vw;
    padding: 2px;
}

.human{
    grid-area: left;
    background-color: rgb(201, 79, 201);
    font-size: 2.5vw;
}

.human-name,
.computer-name,
.human-wins,
.computer-wins {
    font-size: 2.5vw;
    color: var(--main-color);
    font-family: var(--font-family);
}

.computer {
    grid-area: right;
    background-color: rgb(201, 79, 201);
    font-size: 2.5vw;
}

.classic-game {
    grid-area: main-top;
}

.classic-game,
.challenge-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: purple;
    color: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5vw;
    /* border: 0; */
}

.classic-game ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-height: 70vh;
    overflow-y: auto;
}

.classic-game ul li,
.challenge-game ul li {
    flex: 0 0 auto;
    margin: 0;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.challenge-game {
    grid-area: main-body;
    background-color: purple;
    color: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 80%;
    min-height: 30vh;
}

.challenge-game ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
}

.rock,
.paper,
.scissors,
.lizard,
.alien {
    display: inline-flex;
    justify-content: center;
    font-size: 10vw;
    background-color: var(--background-color);
}

.paper {
    grid-area: main-top;
}

.change-game {
    grid-area: main-body;
    display: inline-flex;
    background-color: purple;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: var(--main-color);
    font-family: var(--font-family);
}