:root {
    --font-family: "Fjalla One", sans-serif;
    --main-color: white;
    --background-color: violet;
}

html,
body {
    height: 100vh;
    margin: 0;
    overflow: auto;
}


.grid-container {
    display: grid;
    grid-template-areas:
      'left header right'
      'left body right'
      'left bottom-body right'
      'left footer right';
      /* 'left footer right'; */
    gap: 10px;
    background-color: var(--background-color);
    border: 5px;
    text-align: center;
    min-height: 100vh;
}

.title,
.subtitle {
    grid-area: header;
    color: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

.title {
    margin-top: 5vh;
    font-size: 5vw;
}

.subtitle {
    margin-top: 17vh;
    font-size: 2vw;
    padding: 2px;
}

.human {
    grid-area: left;
    background-color: rgb(201, 79, 201);
    font-size: 2.5vw;
}

.human-name,
.computer-name,
.human-wins,
.computer-wins {
    font-size: 2.5vw;
    color: var(--main-color);
    font-family: var(--font-family);
}

.computer {
    grid-area: right;
    background-color: rgb(201, 79, 201);
    font-size: 2.5vw;
}

.classic-game {
    grid-area: bottom-body;
    padding: 5px;
}

.classic-game,
.challenge-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;

    background-color: purple;
    color: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5vw;
    width: 33%;
}

.classic-game ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    max-height: 70vh;
    overflow-y: auto;
}

.challenge-game ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
}

.challenge-game {
    grid-area: footer;
    background-color: purple;
    color: var(--main-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 80%;
    min-height: 30vh;
}

.rock,
.paper,
.scissors,
.lizard,
.alien {
    display: inline-flex;
    justify-content: center;
    font-size: 10vw;
    background-color: var(--background-color);
}

.rock:hover,
.paper:hover,
.scissors:hover,
.lizard:hover,
.alien:hover,
.classic-game:hover,
.challenge-game:hover,
.change-game:hover {
    cursor: pointer;
}

/* .paper {
    grid-area: main-top;
} */

.change-game {
    grid-area: left;
    display: inline-flex;
    background-color: purple;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: var(--main-color);
    font-family: var(--font-family);
}

.buttons-all {
    grid-area: body;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-width: 0;
    min-height: 0; */
}